/vendor/
/composer.lock

/.phpunit.cache/
/.php-cs-fixer.cache
/.phpstan.cache
/coverage/
/build/
/dist/

.zip
.env
.env.*
!.env.example

*.log
*.tmp
*.temp
*.cache

.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.phpunit.result.cache

/storage/*.sqlite
/storage/*.sqlite3
/storage/*.db
/storage/attachments/
/.phpsockets/
/examples/**/storage/*.sqlite
/examples/**/storage/*.sqlite3
/examples/**/storage/*.db
/examples/**/storage/attachments/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/.phpunit.cache
